[user]
    name = Marek Šneberger
    email = marek@sneberger.cz
    signingkey = 21D1BFEEECBA64FE18557F5B9ACCD965FC310172

[commit]
    gpgsign = true

[alias]
    cleanup = !git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d
    prettylog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(r) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    root = rev-parse --show-toplevel

[branch]
    autosetuprebase = always

[color]
    ui = true

[core]
    askPass = 
    excludesfile = ~/.gitignore_global

[credential]
    helper = store

[github]
    user = legendik

[push]
    default = tracking

[init]
    defaultBranch = main

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
